/*================================
=            uiversal            =
================================*/
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  font-family: "M PLUS 2", sans-serif; }

a, a:hover, a:focus {
  text-decoration: none;
  color: unset; }

a, p, span, button {
  font-family: "M PLUS 2", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gantari", sans-serif;
  font-weight: 700;
  margin: 0; }

hr, p {
  margin: 0; }

.pt15 {
  padding-top: 15px; }

.pt30 {
  padding-top: 30px; }

.pt60 {
  padding-top: 60px; }

.pb15 {
  padding-bottom: 15px; }

.pb30 {
  padding-bottom: 30px; }

.pb60 {
  padding-bottom: 60px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.mt15 {
  margin-top: 15px; }

.mt30 {
  margin-top: 30px; }

.mt60 {
  margin-top: 60px; }

.mb15 {
  margin-bottom: 15px; }

.mb30 {
  margin-bottom: 30px; }

.mb60 {
  margin-bottom: 60px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px; }

/*=====  End of uiversal  ======*/
/*==============================
=            header            =
==============================*/
.gradBg {
  background: linear-gradient(135deg, #08A039 0%, #009999 100%);
  min-height: 100vh;
  position: absolute;
  width: 100%; }

.contactTop, .contactFollowTop .left {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-left: 15px;
  position: absolute;
  z-index: 1; }
  .contactTop .phone, .contactFollowTop .left .phone,
  .contactTop .mail,
  .contactFollowTop .left .mail {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .contactTop .phone .iconWrapper, .contactFollowTop .left .phone .iconWrapper,
    .contactTop .mail .iconWrapper,
    .contactFollowTop .left .mail .iconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background: #ffffff;
      border-radius: 50%;
      margin-right: 10px; }
      .contactTop .phone .iconWrapper i, .contactFollowTop .left .phone .iconWrapper i,
      .contactTop .mail .iconWrapper i,
      .contactFollowTop .left .mail .iconWrapper i {
        font-size: 14px;
        color: #08A039; }

.contactTop.scrolled, .contactFollowTop .scrolled.left,
.followUsTop.scrolled,
.contactFollowTop .scrolled.right {
  color: #08A039;
  top: 9px; }
  .contactTop.scrolled .phone .iconWrapper, .contactFollowTop .scrolled.left .phone .iconWrapper,
  .contactTop.scrolled .mail .iconWrapper,
  .contactFollowTop .scrolled.left .mail .iconWrapper,
  .followUsTop.scrolled .phone .iconWrapper,
  .contactFollowTop .scrolled.right .phone .iconWrapper,
  .followUsTop.scrolled .mail .iconWrapper,
  .contactFollowTop .scrolled.right .mail .iconWrapper {
    background: #08A039; }
    .contactTop.scrolled .phone .iconWrapper i, .contactFollowTop .scrolled.left .phone .iconWrapper i,
    .contactTop.scrolled .mail .iconWrapper i,
    .contactFollowTop .scrolled.left .mail .iconWrapper i,
    .followUsTop.scrolled .phone .iconWrapper i,
    .contactFollowTop .scrolled.right .phone .iconWrapper i,
    .followUsTop.scrolled .mail .iconWrapper i,
    .contactFollowTop .scrolled.right .mail .iconWrapper i {
      color: #F3F9F4; }

.followUsTop, .contactFollowTop .right {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }
  .followUsTop .icons, .contactFollowTop .right .icons {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .followUsTop .icons .iconWrapper, .contactFollowTop .right .icons .iconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      position: relative;
      transition: 0.3s all; }
      .followUsTop .icons .iconWrapper:after, .contactFollowTop .right .icons .iconWrapper:after {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background: #ffffff;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        transition: 0.3s all; }
      .followUsTop .icons .iconWrapper i, .contactFollowTop .right .icons .iconWrapper i {
        font-size: 16px;
        color: #08A039; }
      .followUsTop .icons .iconWrapper:not(:last-child), .contactFollowTop .right .icons .iconWrapper:not(:last-child) {
        margin-right: 15px; }
      .followUsTop .icons .iconWrapper:hover, .contactFollowTop .right .icons .iconWrapper:hover {
        border: 1px solid #ffffff;
        transform: scale(1.5); }
        .followUsTop .icons .iconWrapper:hover:after, .contactFollowTop .right .icons .iconWrapper:hover:after {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background: #ffffff;
          position: absolute;
          z-index: -1;
          border-radius: 50%; }

.followUsTop.scrolled .icons .iconWrapper, .contactFollowTop .scrolled.right .icons .iconWrapper {
  border: 1px solid #08A039; }
  .followUsTop.scrolled .icons .iconWrapper:after, .contactFollowTop .scrolled.right .icons .iconWrapper:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: #08A039;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition: 0.3s all; }
  .followUsTop.scrolled .icons .iconWrapper i, .contactFollowTop .scrolled.right .icons .iconWrapper i {
    font-size: 16px;
    color: #F3F9F4; }
  .followUsTop.scrolled .icons .iconWrapper:not(:last-child), .contactFollowTop .scrolled.right .icons .iconWrapper:not(:last-child) {
    margin-right: 15px; }
  .followUsTop.scrolled .icons .iconWrapper:hover, .contactFollowTop .scrolled.right .icons .iconWrapper:hover {
    border: 1px solid #08A039;
    transform: scale(1.5); }
    .followUsTop.scrolled .icons .iconWrapper:hover:after, .contactFollowTop .scrolled.right .icons .iconWrapper:hover:after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: #08A039;
      position: absolute;
      z-index: -1;
      border-radius: 50%; }

.sticky-top {
  top: 15px;
  padding: 0 15px; }

.navbar {
  background: #F3F9F4;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 5px 10px rgba(8, 160, 57, 0.25); }

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: unset;
  color: #08A039;
  white-space: unset; }
  .navbar-brand .logo {
    width: 100%;
    max-width: 70px;
    margin-right: 15px; }

.navbar-brand:focus,
.navbar-brand:hover {
  color: #08A039; }

.companyName {
  font-family: "Gantari", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1; }

.nav-link {
  color: #08a039; }

.navbar .navbar-nav .nav-link.active {
  color: #08A039; }
  .navbar .navbar-nav .nav-link.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #08A039;
    border-radius: 2px; }
.navbar .nav-link {
  line-height: 1.8; }
  .navbar .nav-link:after {
    margin-top: -2px; }
.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: #08A039; }
  .navbar .nav-link:focus:after,
  .navbar .nav-link:hover:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #08A039;
    border-radius: 2px; }

.dropdown-menu {
  top: 58px;
  background: #F3F9F4;
  border-radius: 10px;
  border: 0;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(4, 87, 31, 0.75);
  display: block;
  padding: 0;
  max-height: 0;
  transition: 0.5s all; }
  .dropdown-menu li {
    margin-left: 8px;
    margin-right: 8px; }
    .dropdown-menu li:first-child {
      margin-top: 8px; }
    .dropdown-menu li:last-child {
      margin-bottom: 8px; }
  .dropdown-menu img {
    max-height: 50px; }

.fp-dropdown li {
  text-align: center; }
  .fp-dropdown li:not(:last-child) {
    border-bottom: 1px solid rgba(8, 160, 57, 0.25); }
.fp-dropdown img {
  margin: 5px auto;
  display: block; }

.dropdown-menu.show {
  max-height: 500px; }

.dropdown-item {
  border-radius: 5px;
  transition: 0.3s all; }

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #08A039; }

.dropBorder {
  color: #08A039; }
  .dropBorder:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #08A039;
    border-radius: 2px; }

.contactFollowTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  .contactFollowTop .left {
    position: unset;
    flex-direction: row;
    margin-left: 0; }
  .contactFollowTop .right {
    position: unset;
    flex-direction: row;
    margin-right: 0; }

.navbar-toggler {
  border: unset;
  outline: none;
  padding: unset;
  color: #08A039; }

.navbar-toggler:focus {
  outline: none;
  box-shadow: unset; }

/**

	responsive

 */
@media (max-width: 1720px) {
  .contactTop, .contactFollowTop .left, .followUsTop, .contactFollowTop .right {
    display: none; }

  .contactFollowTop {
    margin-bottom: 10px; }
    .contactFollowTop .left, .contactFollowTop .right {
      display: flex; }

  .sticky-top {
    top: 10px;
    padding: 0; }

  .sticky-top {
    padding-top: 40px;
    transition: 0.3s ease; } }
@media (min-width: 1720px) {
  .contactFollowTop {
    display: none; }

  .navbar.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px; } }
@media (max-width: 1400px) {
  .companyName {
    width: unset; } }
@media (max-width: 1200px) {
  .companyName {
    font-size: 16px; } }
@media (max-width: 992px) {
  header {
    padding-top: unset; }

  .companyName {
    width: unset; }

  .dropdown-menu {
    background: #F3F9F4;
    box-shadow: unset; }

  .dropdown-menu.show {
    border: 1px solid #dddddd; } }
@media (min-width: 992px) {
  .dropdown:after {
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position: absolute; } }
@media (max-width: 576px) {
  .contactFollowTop {
    display: none; }

  .companyName {
    font-size: 14px;
    width: 150px; }

  header {
    padding-right: 15px;
    padding-left: 15px; }

  .sticky-top {
    top: 0;
    padding-top: 0; }

  .navbar {
    border-radius: 0; } }
/*=====  End of header  ======*/
/*===============================
=            content            =
===============================*/
.btn-primary {
  color: #fff;
  background-color: #08A039;
  border-color: #08A039;
  text-transform: uppercase; }

.btn-primary:hover {
  color: #fff;
  background-color: #078830;
  border-color: #078830; }

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #078830;
  border-color: #acfbc6;
  box-shadow: 0 0 0 0.2rem rgba(8, 160, 57, 0.25); }

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #078830;
  border-color: #acfbc6;
  box-shadow: 0 0 0 0.2rem rgba(8, 160, 57, 0.25); }

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(8, 160, 57, 0.25); }

.btn-outline-primary {
  color: #08A039;
  border-color: #08A039; }

.btn-outline-primary:hover {
  color: #fff;
  background-color: #08A039;
  border-color: #08A039; }

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(8, 160, 57, 0.25); }

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #078830;
  border-color: #078830; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(8, 160, 57, 0.25); }

.form-control:focus {
  border-color: #08A039;
  box-shadow: 0 0 0 0.2rem rgba(8, 160, 57, 0.25); }

.accordion {
  --bs-accordion-bg: #F3F9F4;
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: rgba(8, 160, 57, 0.25);
  --bs-accordion-border-radius: 0.5rem;
  --bs-accordion-inner-border-radius: calc(0.5rem - 1px);
  --bs-accordion-btn-color: #F3F9F4;
  --bs-accordion-btn-bg: #08A039;
  --bs-accordion-btn-focus-border-color: unset;
  --bs-accordion-btn-focus-box-shadow: unset;
  --bs-accordion-active-color: #F3F9F4;
  --bs-accordion-active-bg: #078830;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E"); }

.accordion-body {
  background-color: #F3F9F4; }

.accordion-item,
.accordion-button {
  border-radius: var(--bs-accordion-border-radius); }

.accordion-button:not(.collapsed) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.accordion-item:not(:last-child) {
  margin-bottom: 15px; }

.accordion-body {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem; }

.secHead {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #08A039; }
  .secHead .divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .secHead .divider img {
      width: 60px;
      margin-right: 10px;
      margin-left: 10px; }
    .secHead .divider .left,
    .secHead .divider .right {
      width: 100%;
      height: 2px;
      background: #08A039; }

.text-justify {
  text-align: justify !important; }

.UcasScrollSpy .parent-pills {
  position: sticky;
  top: 100px;
  z-index: 1; }
  .UcasScrollSpy .parent-pills .nav-link:before {
    content: "\f058";
    font-family: "Font Awesome 6 Free";
    color: #08A039;
    font-weight: bold;
    margin-right: 10px;
    visibility: visible;
    border-radius: 100px;
    flex-shrink: 0; }
.UcasScrollSpy .child-pills {
  position: relative; }
  .UcasScrollSpy .child-pills:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #08A039;
    position: absolute;
    left: 37px;
    top: 20px; }
  .UcasScrollSpy .child-pills .nav-link:before {
    content: "";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-right: 10px;
    visibility: visible;
    width: 12px;
    height: 12px;
    background: #08A039;
    border-radius: 100px;
    flex-shrink: 0; }
.UcasScrollSpy .nav-pills .nav-link.active,
.UcasScrollSpy .nav-pills .show > .nav-link {
  color: #F3F9F4;
  background-color: #08A039; }
.UcasScrollSpy .nav-link:focus,
.UcasScrollSpy .nav-link:hover {
  color: #08A039; }
.UcasScrollSpy .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; }
  .UcasScrollSpy .nav-link:after {
    content: "\f0a9";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-left: auto;
    padding-left: 10px;
    color: #F3F9F4;
    visibility: hidden; }
.UcasScrollSpy .nav-link.active:before {
  visibility: hidden; }
.UcasScrollSpy .nav-link.active:after {
  visibility: visible; }

#SpyNav {
  white-space: nowrap;
  z-index: 1;
  transition: 0.3s all; }

.SpyNavBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #08A039 0%, #009999 100%);
  position: absolute;
  top: 0;
  right: -60px;
  border-radius: 0 5px 5px 0;
  width: 35px;
  height: 35px;
  cursor: pointer; }
  .SpyNavBtn .close {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 3px;
    background: rgba(243, 249, 244, 0); }
    .SpyNavBtn .close:before, .SpyNavBtn .close:after {
      position: absolute;
      content: "";
      width: 15px;
      height: 3px;
      border-radius: 3px;
      background: #F3F9F4;
      transition: 0.3s all; }
    .SpyNavBtn .close:before {
      transform: rotate(45deg); }
    .SpyNavBtn .close:after {
      transform: rotate(-45deg); }

.closed {
  padding: 0;
  transform: translateX(-100%); }
  .closed .UcasScrollSpy {
    padding-right: 0;
    border-right: unset; }
    .closed .UcasScrollSpy .nav-link {
      display: none; }
  .closed .SpyNavBtn {
    right: -50px; }
    .closed .SpyNavBtn .close {
      background: #f3f9f4; }
      .closed .SpyNavBtn .close:before {
        transform: rotate(0);
        margin-bottom: 12px; }
      .closed .SpyNavBtn .close:after {
        transform: rotate(0);
        margin-top: 12px; }

/*===================================
=            client list            =
===================================*/
.clientListParent .cardWrapper .clientList {
  position: relative;
  background: #F3F9F4; }
  .clientListParent .cardWrapper .clientList .contentBg {
    position: relative; }
    .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .grid-item {
      display: flex;
      height: 100px; }
    .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #fff;
      box-shadow: 0 10px 20px rgba(8, 160, 57, 0.15);
      min-height: 100px;
      border-radius: 15px;
      outline: 1px solid transparent;
      transition: 0.3s all;
      padding: 15px;
      width: 100%; }
      .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper img {
        max-width: 100%;
        max-height: 50px; }
      .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: "Gantari", sans-serif;
        font-weight: bold;
        height: 50px;
        color: #08A039;
        font-size: 18px;
        line-height: 1.1; }
        .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper span:before {
          display: none; }
      .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper:hover {
        transform: scale(0.9);
        outline: 1px solid #08A039; }

/*=====  End of our clients  ======*/
@keyframes btnBrochureAnim {
  0%,
	50%,
	100% {
    box-shadow: 0 0 20px #fff; }
  25%,
	75% {
    box-shadow: 0 0 0 #ffffff; } }
.btn-brochure {
  background: #F3F9F4;
  border: 1px solid #F3F9F4;
  width: max-content;
  color: #08A039;
  margin-top: 15px;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  transition: 0.3s all;
  transform-origin: 0 50%;
  animation: btnBrochureAnim 2s linear 0s infinite normal forwards; }
  .btn-brochure:hover, .btn-brochure:active {
    background: linear-gradient(315deg, #076932, #009999);
    transform: scale(0.9);
    color: #F3F9F4 !important;
    border: 1px solid #F3F9F4 !important;
    box-shadow: 0 0 10px #ffffff; }

@media (max-width: 992px) {
  .UcasScrollSpy .nav-link:before {
    display: none; }
  .UcasScrollSpy .nav-link:after {
    display: none; }
  .UcasScrollSpy .SpyNavBtn {
    display: none; }
  .UcasScrollSpy .parent-pills:before {
    display: none; }

  .clientListParent .cardWrapper {
    padding: 0.5rem 1rem !important; }
    .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper {
      padding: 15px;
      flex-direction: column;
      text-align: center;
      border-radius: 20px; }
      .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .clientLogoWrapper span {
        font-size: 14px;
        height: unset; }
    .clientListParent .cardWrapper .clientList .contentBg .clientLogos .grid .grid-item {
      height: unset;
      min-height: 100px; } }
@media (min-width: 992px) {
  .UcasScrollSpy {
    padding-right: 24px;
    border-right: 1px solid #dee2e6;
    margin-right: 30px; } }
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1024px; } }
/*=====  End of content  ======*/
/*===============================
=            footer            =
===============================*/
/*==============================
=            footer            =
==============================*/
footer {
  background: linear-gradient(135deg, #08A039 0%, #009999 100%);
  color: #ffffff; }
  footer .secHead {
    width: 100%;
    text-align: left;
    text-transform: unset;
    color: #ffffff;
    margin-bottom: 15px;
    font-family: "Gantari", sans-serif; }
    footer .secHead span {
      font-size: 32px; }
    footer .secHead .divider .left, footer .secHead .divider .right {
      background: #ffffff; }
  footer .cu-container .infoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F3F9F4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    footer .cu-container .infoWrapper span {
      color: #000000; }
    footer .cu-container .infoWrapper .iconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid #08A039;
      border-radius: 30px;
      margin-right: 10px;
      flex-shrink: 0; }
      footer .cu-container .infoWrapper .iconWrapper img {
        height: 25px; }
    footer .cu-container .infoWrapper:not(:last-child) {
      margin-bottom: 15px; }
  footer .usefulLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
    footer .usefulLinks a:hover {
      text-decoration: underline; }
    footer .usefulLinks a:not(:last-child) {
      margin-bottom: 5px; }
  footer .followUs {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .followUs a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid #F3F9F4;
      border-radius: 30px;
      background: #F3F9F4;
      color: #08A039;
      font-size: 25px;
      transition: 0.3s all; }
      footer .followUs a:not(:last-child) {
        margin-right: 10px; }
      footer .followUs a:hover {
        background: transparent;
        color: #F3F9F4;
        transform: scale(0.9); }
  footer .mapWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    footer .mapWrapper iframe {
      width: 100%; }

/*=====  End of footer  ======*/
/*=================================
=            copyright            =
=================================*/
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #08A039;
  padding: 5px 10px;
  color: #F3F9F4; }
  .copyright img {
    margin: 0 15px;
    height: 30px; }

/*=====  End of copyright  ======*/
@media (max-width: 992px) {
  /*==============================
  =            footer            =
  ==============================*/
  footer .secHead span {
    font-size: 24px; }
  footer .cu-container .infoWrapper span {
    font-size: 14px; }
  footer .usefulLinks a {
    font-size: 14px; }
  footer .mapWrapper {
    min-height: 300px; }

  /*=================================
  =            copyright            =
  =================================*/
  .copyright {
    flex-direction: column; }
    .copyright img {
      margin-top: 10px;
      margin-bottom: 10px; } }
/*=====  End of footer  ======*/

/*# sourceMappingURL=common.css.map */
