/*================================
=            uiversal            =
================================*/
* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  font-family: "M PLUS 2", sans-serif; }

a, a:hover, a:focus {
  text-decoration: none;
  color: unset; }

a, p, span, button {
  font-family: "M PLUS 2", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gantari", sans-serif;
  font-weight: 700;
  margin: 0; }

hr, p {
  margin: 0; }

.pt15 {
  padding-top: 15px; }

.pt30 {
  padding-top: 30px; }

.pt60 {
  padding-top: 60px; }

.pb15 {
  padding-bottom: 15px; }

.pb30 {
  padding-bottom: 30px; }

.pb60 {
  padding-bottom: 60px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.mt15 {
  margin-top: 15px; }

.mt30 {
  margin-top: 30px; }

.mt60 {
  margin-top: 60px; }

.mb15 {
  margin-bottom: 15px; }

.mb30 {
  margin-bottom: 30px; }

.mb60 {
  margin-bottom: 60px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mtb60 {
  margin-top: 60px;
  margin-bottom: 60px; }

/*=====  End of uiversal  ======*/
/*==============================
=            header            =
==============================*/
.gradBg {
  background: linear-gradient(135deg, #0E8944 0%, #009999 100%);
  min-height: 100vh;
  position: absolute;
  width: 100%; }

.contactTop, .contactFollowTop .left {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-left: 15px;
  position: absolute;
  z-index: 1; }
  .contactTop .phone, .contactFollowTop .left .phone, .contactTop .mail, .contactFollowTop .left .mail {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .contactTop .phone .iconWrapper, .contactFollowTop .left .phone .iconWrapper, .contactTop .mail .iconWrapper, .contactFollowTop .left .mail .iconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background: #ffffff;
      border-radius: 50%;
      margin-right: 10px; }
      .contactTop .phone .iconWrapper i, .contactFollowTop .left .phone .iconWrapper i, .contactTop .mail .iconWrapper i, .contactFollowTop .left .mail .iconWrapper i {
        font-size: 14px;
        color: #0E8944; }

.contactTop.scrolled, .contactFollowTop .scrolled.left, .followUsTop.scrolled, .contactFollowTop .scrolled.right {
  color: #0E8944;
  top: 9px; }
  .contactTop.scrolled .phone .iconWrapper, .contactFollowTop .scrolled.left .phone .iconWrapper, .contactTop.scrolled .mail .iconWrapper, .contactFollowTop .scrolled.left .mail .iconWrapper, .followUsTop.scrolled .phone .iconWrapper, .contactFollowTop .scrolled.right .phone .iconWrapper, .followUsTop.scrolled .mail .iconWrapper, .contactFollowTop .scrolled.right .mail .iconWrapper {
    background: #0E8944; }
    .contactTop.scrolled .phone .iconWrapper i, .contactFollowTop .scrolled.left .phone .iconWrapper i, .contactTop.scrolled .mail .iconWrapper i, .contactFollowTop .scrolled.left .mail .iconWrapper i, .followUsTop.scrolled .phone .iconWrapper i, .contactFollowTop .scrolled.right .phone .iconWrapper i, .followUsTop.scrolled .mail .iconWrapper i, .contactFollowTop .scrolled.right .mail .iconWrapper i {
      color: #F3F9F4; }

.followUsTop, .contactFollowTop .right {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }
  .followUsTop .icons, .contactFollowTop .right .icons {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .followUsTop .icons .iconWrapper, .contactFollowTop .right .icons .iconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      position: relative;
      transition: 0.3s all; }
      .followUsTop .icons .iconWrapper:after, .contactFollowTop .right .icons .iconWrapper:after {
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background: #ffffff;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        transition: 0.3s all; }
      .followUsTop .icons .iconWrapper i, .contactFollowTop .right .icons .iconWrapper i {
        font-size: 16px;
        color: #0E8944; }
      .followUsTop .icons .iconWrapper:not(:last-child), .contactFollowTop .right .icons .iconWrapper:not(:last-child) {
        margin-right: 15px; }
      .followUsTop .icons .iconWrapper:hover, .contactFollowTop .right .icons .iconWrapper:hover {
        border: 1px solid #ffffff;
        transform: scale(1.5); }
        .followUsTop .icons .iconWrapper:hover:after, .contactFollowTop .right .icons .iconWrapper:hover:after {
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          background: #ffffff;
          position: absolute;
          z-index: -1;
          border-radius: 50%; }

.followUsTop.scrolled .icons .iconWrapper, .contactFollowTop .scrolled.right .icons .iconWrapper {
  border: 1px solid #0E8944; }
  .followUsTop.scrolled .icons .iconWrapper:after, .contactFollowTop .scrolled.right .icons .iconWrapper:after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: #0E8944;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition: 0.3s all; }
  .followUsTop.scrolled .icons .iconWrapper i, .contactFollowTop .scrolled.right .icons .iconWrapper i {
    font-size: 16px;
    color: #F3F9F4; }
  .followUsTop.scrolled .icons .iconWrapper:not(:last-child), .contactFollowTop .scrolled.right .icons .iconWrapper:not(:last-child) {
    margin-right: 15px; }
  .followUsTop.scrolled .icons .iconWrapper:hover, .contactFollowTop .scrolled.right .icons .iconWrapper:hover {
    border: 1px solid #0E8944;
    transform: scale(1.5); }
    .followUsTop.scrolled .icons .iconWrapper:hover:after, .contactFollowTop .scrolled.right .icons .iconWrapper:hover:after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background: #0E8944;
      position: absolute;
      z-index: -1;
      border-radius: 50%; }

.sticky-top {
  top: 15px;
  padding: 0 15px; }

.navbar {
  background: #F3F9F4;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 5px 10px rgba(14, 137, 68, 0.25); }

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: unset;
  color: #0E8944;
  white-space: unset; }
  .navbar-brand .logo {
    width: 100%;
    max-width: 70px;
    margin-right: 15px; }

.navbar-brand:focus, .navbar-brand:hover {
  color: #0E8944; }

.companyName {
  font-family: "Gantari", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1; }

.nav-link {
  color: rgba(14, 137, 68, 0.5); }

.navbar .navbar-nav .nav-link.active {
  color: #0E8944; }
  .navbar .navbar-nav .nav-link.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #0E8944;
    border-radius: 2px; }
.navbar .nav-link:focus, .navbar .nav-link:hover {
  color: #0E8944; }
  .navbar .nav-link:focus:after, .navbar .nav-link:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #0E8944;
    border-radius: 2px; }

.dropdown-menu {
  top: 58px;
  background: #F3F9F4;
  border-radius: 10px;
  border: 0;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(7, 68, 34, 0.75);
  padding: 8px; }

.dropdown-item {
  border-radius: 5px;
  transition: 0.3s all; }

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  background-color: #0E8944; }

.dropBorder {
  color: #0E8944; }
  .dropBorder:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #0E8944;
    border-radius: 2px; }

.contactFollowTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  .contactFollowTop .left {
    position: unset;
    flex-direction: row;
    margin-left: 0; }
  .contactFollowTop .right {
    position: unset;
    flex-direction: row;
    margin-right: 0; }

.navbar-toggler {
  border: unset;
  outline: none;
  padding: unset;
  color: #0E8944; }

.navbar-toggler:focus {
  outline: none;
  box-shadow: unset; }

/**

	responsive

 */
@media (max-width: 1720px) {
  .contactTop, .contactFollowTop .left, .followUsTop, .contactFollowTop .right {
    display: none; }

  .contactFollowTop {
    margin-bottom: 10px; }
    .contactFollowTop .left, .contactFollowTop .right {
      display: flex; }

  .sticky-top {
    top: 10px;
    padding: 0; }

  .sticky-top {
    padding-top: 40px;
    transition: 0.3s ease; } }
@media (min-width: 1720px) {
  .contactFollowTop {
    display: none; }

  .navbar.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px; } }
@media (max-width: 1400px) {
  .companyName {
    width: unset; } }
@media (max-width: 1200px) {
  .companyName {
    font-size: 16px; } }
@media (max-width: 992px) {
  header {
    padding-top: unset; }

  .companyName {
    width: unset; }

  .dropdown-menu {
    background: #F3F9F4;
    border: 1px solid #dddddd;
    box-shadow: unset; } }
@media (min-width: 992px) {
  .dropdown:after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute; } }
@media (max-width: 576px) {
  .contactFollowTop {
    display: none; }

  .companyName {
    font-size: 14px;
    width: 150px; }

  header {
    padding-right: 15px;
    padding-left: 15px; }

  .sticky-top {
    top: 0;
    padding-top: 0; }

  .navbar {
    border-radius: 0; } }
/*=====  End of header  ======*/
/*===============================
=            content            =
===============================*/
.btn-primary {
  color: #fff;
  background-color: #0E8944;
  border-color: #0E8944;
  text-transform: uppercase; }

.btn-primary:hover {
  color: #fff;
  background-color: #0c7239;
  border-color: #0c7239; }

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #0c7239;
  border-color: #a1f5c6;
  box-shadow: 0 0 0 0.2rem rgba(14, 137, 68, 0.25); }

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0c7239;
  border-color: #a1f5c6;
  box-shadow: 0 0 0 0.2rem rgba(14, 137, 68, 0.25); }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 137, 68, 0.25); }

.btn-outline-primary {
  color: #0E8944;
  border-color: #0E8944; }

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0E8944;
  border-color: #0E8944; }

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 137, 68, 0.25); }

.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0c7239;
  border-color: #0c7239; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(14, 137, 68, 0.25); }

.form-control:focus {
  border-color: #0E8944;
  box-shadow: 0 0 0 0.2rem rgba(14, 137, 68, 0.25); }

.secHead {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #0E8944; }
  .secHead .divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .secHead .divider img {
      width: 60px;
      margin-right: 10px;
      margin-left: 10px; }
    .secHead .divider .left, .secHead .divider .right {
      width: 100%;
      height: 2px;
      background: #0E8944; }

.text-justify {
  text-align: justify !important; }

.UcasScrollSpy .parent-pills {
  position: sticky;
  top: 100px; }
.UcasScrollSpy .nav-pills .nav-link.active, .UcasScrollSpy .nav-pills .show > .nav-link {
  color: #F3F9F4;
  background-color: #0E8944; }
.UcasScrollSpy .nav-link:focus, .UcasScrollSpy .nav-link:hover {
  color: #0E8944; }
.UcasScrollSpy .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .UcasScrollSpy .nav-link:after {
    content: "\f0a9";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    margin-left: 10px;
    color: #F3F9F4; }

#SpyNav {
  white-space: nowrap; }

#SpyContent {
  flex: 1 0 0; }

/*=====  End of content  ======*/
/*===============================
=            footer            =
===============================*/
/*==============================
=            footer            =
==============================*/
footer {
  background: linear-gradient(135deg, #0E8944 0%, #009999 100%);
  color: #ffffff; }
  footer .secHead {
    width: 100%;
    text-align: left;
    text-transform: unset;
    color: #ffffff;
    margin-bottom: 15px;
    font-family: "Gantari", sans-serif; }
    footer .secHead span {
      font-size: 32px; }
    footer .secHead .divider .left, footer .secHead .divider .right {
      background: #ffffff; }
  footer .cu-container .infoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F3F9F4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    footer .cu-container .infoWrapper span {
      color: #000000; }
    footer .cu-container .infoWrapper .iconWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 1px solid #0E8944;
      border-radius: 30px;
      margin-right: 10px;
      flex-shrink: 0; }
      footer .cu-container .infoWrapper .iconWrapper img {
        height: 25px; }
    footer .cu-container .infoWrapper:not(:last-child) {
      margin-bottom: 15px; }
  footer .usefulLinks {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
    footer .usefulLinks a:hover {
      text-decoration: underline; }
    footer .usefulLinks a:not(:last-child) {
      margin-bottom: 5px; }
  footer .followUs {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .followUs a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid #F3F9F4;
      border-radius: 30px;
      background: #F3F9F4;
      color: #0E8944;
      font-size: 25px;
      transition: 0.3s all; }
      footer .followUs a:not(:last-child) {
        margin-right: 10px; }
      footer .followUs a:hover {
        background: transparent;
        color: #F3F9F4;
        transform: scale(0.9); }
  footer .mapWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); }
    footer .mapWrapper iframe {
      width: 100%; }

/*=====  End of footer  ======*/
/*=================================
=            copyright            =
=================================*/
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0E8944;
  padding: 5px 10px;
  color: #F3F9F4; }
  .copyright img {
    margin: 0 15px;
    height: 30px; }

/*=====  End of copyright  ======*/
@media (max-width: 992px) {
  /*==============================
  =            footer            =
  ==============================*/
  footer .secHead span {
    font-size: 24px; }
  footer .cu-container .infoWrapper span {
    font-size: 14px; }
  footer .usefulLinks a {
    font-size: 14px; }
  footer .mapWrapper {
    min-height: 300px; }

  /*=================================
  =            copyright            =
  =================================*/
  .copyright {
    flex-direction: column; }
    .copyright img {
      margin-top: 10px;
      margin-bottom: 10px; } }
/*=====  End of footer  ======*/

/*# sourceMappingURL=common.css.map */
