@media (max-width: 1720px) {
  /*==============================
  =            banner            =
  ==============================*/
  .carousel-inner {
    height: calc(100vh - 141px); } }
@media (max-width: 1600px) {
  /*================================
  =            services            =
  ================================*/
  .serviceWrapper .singleService {
    max-width: 246px; }
    .serviceWrapper .singleService .iconText {
      font-size: 14px; }
      .serviceWrapper .singleService .iconText img {
        height: 70px; }

  .serviceWrapper2 {
    margin-top: -50px; }
    .serviceWrapper2 .singleService {
      max-width: 246px; }
      .serviceWrapper2 .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper2 .singleService .iconText img {
          height: 70px; }

  .serviceWrapper3 {
    margin-top: -50px; }
    .serviceWrapper3 .singleService {
      max-width: 246px; }
      .serviceWrapper3 .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper3 .singleService .iconText img {
          height: 70px; }

  /*========================================
  =            featured product            =
  ========================================*/
  .featuredProduct .fpBg {
    top: -260px; } }
@media (max-width: 1400px) {
  /*==============================
  =            banner            =
  ==============================*/
  .carousel-inner .carousel-item .primTitle {
    font-size: 45px; }

  /*================================
  =            services            =
  ================================*/
  .serviceWrapper .singleService {
    max-width: 210px; }

  .serviceWrapper2 {
    margin-top: -40px; }
    .serviceWrapper2 .singleService {
      max-width: 210px; }

  .serviceWrapper3 {
    margin-top: -40px; }
    .serviceWrapper3 .singleService {
      max-width: 210px; }

  /*========================================
  =            featured product            =
  ========================================*/
  .featuredProduct .fpBg {
    top: -230px; } }
@media (min-width: 992px) and (max-width: 1400px) {
  .carousel-inner .carousel-item .right {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .carousel-inner .carousel-item .right img {
      max-width: unset;
      max-height: calc(100% - 168px); } }
@media (max-width: 1200px) {
  /*================================
  =            services            =
  ================================*/
  .serviceWrapper .singleService {
    max-width: 174px; }
    .serviceWrapper .singleService .iconText {
      font-size: 14px; }
      .serviceWrapper .singleService .iconText img {
        height: 50px; }

  .serviceWrapper2 {
    margin-top: -35px; }
    .serviceWrapper2 .singleService {
      max-width: 174px; }
      .serviceWrapper2 .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper2 .singleService .iconText img {
          height: 50px; }

  .serviceWrapper3 {
    margin-top: -35px; }
    .serviceWrapper3 .singleService {
      max-width: 174px; }
      .serviceWrapper3 .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper3 .singleService .iconText img {
          height: 50px; }

  /*========================================
  =            featured product            =
  ========================================*/
  .featuredProduct .fpBg {
    top: -190px; } }
@media (max-width: 992px) {
  body {
    background: linear-gradient(135deg, #08A039 0%, #009999 100%); }

  .gradBg {
    display: none; }

  #aboutUs,
  #services,
  #featuredProduct,
  .webVps,
  .ourClient {
    background: #ffffff; }

  /*==============================
  =            banner            =
  ==============================*/
  .slider {
    margin-top: unset;
    background: linear-gradient(135deg, #08A039 0%, #009999 100%); }

  .carousel-indicators {
    margin-bottom: 30px; }

  .carousel-inner {
    padding: 30px 0;
    min-height: 550px;
    height: unset;
    align-items: start; }
    .carousel-inner .product-logo {
      margin-top: 15px;
      max-width: 300px; }
    .carousel-inner img {
      margin-top: 30px;
      max-height: 250px; }
    .carousel-inner .carousel-item .primTitle {
      font-size: 28px; }
    .carousel-inner .carousel-item .secTitle {
      font-size: 14px; }
    .carousel-inner .carousel-item .btn-banner,
    .carousel-inner .carousel-item .btn-brochure {
      font-size: 14px;
      margin-top: 15px; }

  .carousel .mouse_scroll {
    display: none; }

  .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px; }

  .carousel-indicators .active {
    width: 45px; }

  /*=================================
  =            about us            =
  =================================*/
  #aboutUs {
    padding-top: 30px;
    padding-bottom: 30px; }

  /*================================
  =            services            =
  ================================*/
  #services {
    padding-top: 30px; }

  .serviceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .serviceWrapper .singleService {
      max-width: 300px;
      margin-bottom: .75rem; }
      .serviceWrapper .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper .singleService .iconText img {
          height: 100px; }

  .serviceWrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .75rem; }
    .serviceWrapper2 .singleService {
      max-width: 300px;
      margin-bottom: .75rem; }
      .serviceWrapper2 .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper2 .singleService .iconText img {
          height: 100px; }

  .serviceWrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .75rem; }
    .serviceWrapper3 .singleService {
      max-width: 300px;
      margin-bottom: .75rem; }
      .serviceWrapper3 .singleService .iconText {
        font-size: 14px; }
        .serviceWrapper3 .singleService .iconText img {
          height: 100px; }

  /*========================================
  =            featured product            =
  ========================================*/
  .featuredProduct {
    padding-bottom: unset; }
    .featuredProduct .fpBg {
      top: -150px; }
    .featuredProduct .contentBg {
      padding: 15px; }
      .featuredProduct .contentBg .fpTabWrapper #fpCarousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        background: #08A039; }
        .featuredProduct .contentBg .fpTabWrapper #fpCarousel .owl-nav button.owl-prev,
        .featuredProduct .contentBg .fpTabWrapper #fpCarousel .owl-nav button.owl-next {
          background: #F3F9F4;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border: none; }
        .featuredProduct .contentBg .fpTabWrapper #fpCarousel .owl-nav {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 30px; }
          .featuredProduct .contentBg .fpTabWrapper #fpCarousel .owl-nav i {
            font-size: 30px; }
        .featuredProduct .contentBg .fpTabWrapper #fpCarousel .owl-item img {
          width: unset; }
      .featuredProduct .contentBg .fpTabWrapper .singleFp {
        width: 170px;
        background: unset; }
        .featuredProduct .contentBg .fpTabWrapper .singleFp .icon img {
          filter: brightness(0) invert(1) drop-shadow(0 0 5px #F3F9F4); }
        .featuredProduct .contentBg .fpTabWrapper .singleFp .text {
          color: #F3F9F4; }
          .featuredProduct .contentBg .fpTabWrapper .singleFp .text h5 {
            font-size: 16px; }
        .featuredProduct .contentBg .fpTabWrapper .singleFp.active:after {
          display: none; }
        .featuredProduct .contentBg .fpTabWrapper .singleFp#realErp-tab .icon img {
          margin-top: 15px;
          height: 150px; }
        .featuredProduct .contentBg .fpTabWrapper .singleFp#realErp-tab:hover .icon img, .featuredProduct .contentBg .fpTabWrapper .singleFp#realErp-tab.active .icon img {
          filter: drop-shadow(0 0 5px #F3F9F4); }
      .featuredProduct .contentBg .fpTabWrapper .tab-content .tab-pane .title {
        padding: 20px 20px 0 20px; }
        .featuredProduct .contentBg .fpTabWrapper .tab-content .tab-pane .title p {
          font-size: 20px; }
      .featuredProduct .contentBg .fpTabWrapper .tab-content .tab-pane .content {
        display: flex;
        flex-direction: column;
        padding: 5px 20px 20px 20px; }
        .featuredProduct .contentBg .fpTabWrapper .tab-content .tab-pane .content .point {
          margin: 5px 0; }

  /*===================================
  =            website vps            =
  ===================================*/
  .webVps {
    padding-bottom: unset; }

  /*=======================================
  =            client feedback            =
  =======================================*/
  .clientFeedback .cfBody .owl-nav {
    top: unset;
    bottom: 15px;
    right: unset;
    left: 20px; }

  /*==============================
  =            footer            =
  ==============================*/
  footer .secHead span {
    font-size: 24px; }
  footer .cu-container .infoWrapper span {
    font-size: 14px; }
  footer .usefulLinks a {
    font-size: 14px; }
  footer .mapWrapper {
    min-height: 300px; }

  /*=================================
  =            copyright            =
  =================================*/
  .copyright {
    flex-direction: column; }
    .copyright img {
      margin-top: 10px;
      margin-bottom: 10px; } }
@media (max-width: 768px) {
  /*========================================
  =            featured product            =
  ========================================*/
  .featuredProduct .fpBg {
    top: -65px; }

  .webVps .content {
    flex-direction: column; } }
@media (min-width: 576px) and (max-width: 992px) {
  .slider {
    margin-top: -110px; }

  .carousel-inner {
    padding-top: 140px;
    min-height: 650px; } }
@media (max-width: 576px) {
  .carousel-inner {
    align-items: center; }
    .carousel-inner .product-logo {
      max-height: unset;
      max-width: 200px;
      margin-top: unset; }
    .carousel-inner img {
      margin-top: 15px;
      max-height: 300px; }
    .carousel-inner .carousel-item .btn-banner {
      padding: 7px 15px;
      font-size: 14px; }

  .carousel-indicators {
    margin-bottom: 15px; }

  .uBroker-banner {
    max-height: unset !important;
    width: 100%; }

  .btn-brochure {
    padding: 7px 15px; } }

/*# sourceMappingURL=indexResponsive.css.map */
