@import 'templates/variables';
@import 'templates/mixins';

@media (max-width: 1720px) {

	/*==============================
	=            banner            =
	==============================*/
	.carousel-inner {
		height: calc(100vh - 141px);
	}
}

@media (max-width: 1600px) {

	/*================================
	=            services            =
	================================*/
	.serviceWrapper {
		.singleService {
			max-width: 246px;

			.iconText {
				font-size: 14px;

				img {
					height: 70px;
				}
			}
		}
	}

	.serviceWrapper2 {
		margin-top: -50px;

		.singleService {
			max-width: 246px;

			.iconText {
				font-size: 14px;

				img {
					height: 70px;
				}
			}
		}
	}

	.serviceWrapper3 {
		margin-top: -50px;

		.singleService {
			max-width: 246px;

			.iconText {
				font-size: 14px;

				img {
					height: 70px;
				}
			}
		}
	}

	/*========================================
	=            featured product            =
	========================================*/
	.featuredProduct {
		.fpBg {
			top: -260px;
		}
	}
}

@media (max-width: 1400px) {

	/*==============================
	=            banner            =
	==============================*/
	.carousel-inner {
		.carousel-item {
			.primTitle {
				font-size: 45px;
			}
		}
	}

	/*================================
	=            services            =
	================================*/
	.serviceWrapper {
		.singleService {
			max-width: 210px;
		}
	}

	.serviceWrapper2 {
		margin-top: -40px;

		.singleService {
			max-width: 210px;
		}
	}

	.serviceWrapper3 {
		margin-top: -40px;

		.singleService {
			max-width: 210px;
		}
	}

	/*========================================
	=            featured product            =
	========================================*/
	.featuredProduct {
		.fpBg {
			top: -230px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1400px) {
	.carousel-inner {
		.carousel-item {
			.right {
				display: flex;
				justify-content: flex-end;
				align-items: center;

				img {
					max-width: unset;
					max-height: calc(100% - 168px);
				}
			}
		}
	}
}

@media (max-width: 1200px) {

	/*================================
	=            services            =
	================================*/
	.serviceWrapper {
		.singleService {
			max-width: 174px;

			.iconText {
				font-size: 14px;

				img {
					height: 50px;
				}
			}
		}
	}

	.serviceWrapper2 {
		margin-top: -35px;

		.singleService {
			max-width: 174px;

			.iconText {
				font-size: 14px;

				img {
					height: 50px;
				}
			}
		}
	}

	.serviceWrapper3 {
		margin-top: -35px;

		.singleService {
			max-width: 174px;

			.iconText {
				font-size: 14px;

				img {
					height: 50px;
				}
			}
		}
	}

	/*========================================
	=            featured product            =
	========================================*/
	.featuredProduct {
		.fpBg {
			top: -190px;
		}
	}
}

@media (max-width: 992px) {
	body {
		background: grad();
	}

	.gradBg {
		display: none;
	}

	#aboutUs,
	#services,
	#featuredProduct,
	.webVps,
	.ourClient {
		background: #ffffff;
	}

	/*==============================
	=            banner            =
	==============================*/
	.slider {
		margin-top: unset;
		background: grad();
	}

	.carousel-indicators {
		margin-bottom: 30px;
	}

	.carousel-inner {
		padding: 30px 0;
		min-height: 550px;
		height: unset;
		align-items: start;


		.product-logo {
			margin-top: 15px;
			max-width: 300px;
		}

		img {
			margin-top: 30px;
			max-height: 250px;
		}

		.carousel-item {
			.primTitle {
				font-size: 28px;
			}

			.secTitle {
				font-size: 14px;
			}

			.btn-banner,
			.btn-brochure {
				font-size: 14px;
				margin-top: 15px;
			}
		}
	}

	.carousel {
		.mouse_scroll {
			display: none;
		}
	}

	.carousel-indicators [data-bs-target] {
		width: 15px;
		height: 15px;
	}

	.carousel-indicators .active {
		width: 45px;
	}

	/*=================================
	=            about us            =
	=================================*/
	#aboutUs {
		padding-top: 30px;
		padding-bottom: 30px;
	}


	/*================================
	=            services            =
	================================*/
	#services {
		padding-top: 30px;
	}

	.serviceWrapper {
		@include flex(col, null, center);

		.singleService {
			max-width: 300px;
			margin-bottom: .75rem;

			.iconText {
				font-size: 14px;

				img {
					height: 100px;
				}
			}
		}
	}

	.serviceWrapper2 {
		@include flex(col, null, center);
		margin-top: .75rem;

		.singleService {
			max-width: 300px;
			margin-bottom: .75rem;

			.iconText {
				font-size: 14px;

				img {
					height: 100px;
				}
			}
		}
	}

	.serviceWrapper3 {
		@include flex(col, null, center);
		margin-top: .75rem;

		.singleService {
			max-width: 300px;
			margin-bottom: .75rem;

			.iconText {
				font-size: 14px;

				img {
					height: 100px;
				}
			}
		}
	}

	/*========================================
	=            featured product            =
	========================================*/
	.featuredProduct {
		padding-bottom: unset;

		.fpBg {
			top: -150px;
		}

		.contentBg {
			padding: 15px;

			.fpTabWrapper {
				#fpCarousel {
					@include flex(row, center);
					position: relative;
					background: $primCol;

					.owl-nav button.owl-prev,
					.owl-nav button.owl-next {
						background: $lpCol;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						border: none;
					}

					.owl-nav {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
						display: flex;
						justify-content: space-between;
						padding: 0 30px;

						i {
							font-size: 30px;
						}
					}

					.owl-item img {
						width: unset;
					}
				}

				.singleFp {
					width: 170px;
					background: unset;

					.icon {
						img {
							filter: brightness(0) invert(1) drop-shadow(0 0 5px #F3F9F4);
						}
					}

					.text {
						color: $lpCol;

						h5 {
							font-size: 16px;
						}
					}

					&.active {
						&:after {
							display: none;
						}
					}

					&#realErp-tab {
						.icon {
							img {
								margin-top: 15px;
								height: 150px;
							}
						}

						&:hover,
						&.active {
							.icon {
								img {
									filter: drop-shadow(0 0 5px $lpCol);
								}
							}
						}
					}
				}

				.tab-content {
					.tab-pane {
						.title {
							padding: 20px 20px 0 20px;

							p {
								font-size: 20px;
							}
						}

						.content {
							@include flex(col);
							padding: 5px 20px 20px 20px;

							.point {
								margin: 5px 0;
							}
						}
					}
				}
			}
		}
	}

	/*===================================
	=            website vps            =
	===================================*/
	.webVps {
		padding-bottom: unset;
	}


	/*=======================================
	=            client feedback            =
	=======================================*/

	.clientFeedback {
		.cfBody {
			.owl-nav {
				top: unset;
				bottom: 15px;
				right: unset;
				left: 20px;
			}
		}
	}

	/*==============================
	=            footer            =
	==============================*/
	footer {
		.secHead {
			span {
				font-size: 24px;
			}
		}

		.cu-container {
			.infoWrapper {
				span {
					font-size: 14px;
				}
			}
		}

		.usefulLinks {
			a {
				font-size: 14px;
			}
		}

		.mapWrapper {
			min-height: 300px;
		}
	}

	/*=================================
	=            copyright            =
	=================================*/
	.copyright {
		flex-direction: column;

		img {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

@media(max-width:768px) {

	/*========================================
	=            featured product            =
	========================================*/
	.featuredProduct {
		.fpBg {
			top: -65px;
		}
	}

	.webVps {
		.content {
			flex-direction: column;
		}
	}
}

@media (min-width:576px) and (max-width: 992px) {
	.slider {
		margin-top: -110px;
	}

	.carousel-inner {
		padding-top: 140px;
		min-height: 650px;
	}
}

@media(max-width:576px) {
	.carousel-inner {
		align-items: center;

		.product-logo {
			max-height: unset;
			max-width: 200px;
			margin-top: unset;
		}

		img {
			margin-top: 15px;
			max-height: 300px;
		}

		.carousel-item {
			.btn-banner {
				padding: 7px 15px;
				font-size: 14px;
			}
		}
	}

	.carousel-indicators {
		margin-bottom: 15px;
	}

	.uBroker-banner {
		max-height: unset !important;
		width: 100%;
	}

	.btn-brochure {
		padding: 7px 15px;
	}
}