@import 'templates/variables';
@import 'templates/mixins';

body{
	background: grad();
}

/*==============================
=            banner            =
==============================*/

.slider{
	margin-top: -120px;
}

.carousel-inner{
	@include flex(row,null,center);
	height: unset;
	padding-top: 170px;
	padding-bottom: 50px;

	.carousel-item{
		.primTitle{
			@include head("900");
			color: #ffffff;
			font-size: 65px;
			line-height: 1;
			color: #ffffff;

			img{
				max-width: 400px;
			}
		}

		.secTitle{
			@include para();
			color: #ffffff;
			font-size: 20px;
			line-height: 1.2;
			margin-top: 5px;
		}
	}
	img{
		max-width: 100%;
	}
}

/*=====  End of banner  ======*/

/*================================
=            brochure            =
================================*/

.modal-open{
	padding-right: unset !important;
}

#brochureModal{
	padding-right: unset !important;
	iframe{
		width:100%;
		height: 100%;
	}
	.modal-content{
		width: calc(100vw - 30px);
		height: calc(100vh - 65px);
	}
	.btn-close{
		position: absolute;
		right: -30px;
		color: #ffffff;
		filter: invert(1);
	}
}



/*=====  End of brochure  ======*/


/*===================================
=            real estate erp            =
===================================*/

.realEstateErp{
	position: relative;
	background: #eeeeee;
	.col-lg-4{
		@include flex(row);
	}
	.secHead{
		margin-bottom: 30px;
	}
	.cardWrapper{
		background: $lpCol;
		padding: 30px;
		border-radius: 30px;
		box-shadow: 0 10px 20px rgba($primCol, 15%);
		width: 100%;

		.head{
			width: 100%;
			color: $primCol;
			border-radius: 30px;
			margin-bottom: 10px;

			&:after{
				content:"";
				display: block;
				height:2px;
				background: rgba($primCol, 25%);
				margin-top: 3px;
			}
		}

		span{
			@include flex(row,null,baseline);
			margin:5px 0;
			&:before{
				content: "\f058";
				font-family: "Font Awesome 6 Free";
				font-weight: normal;
				margin-right: 5px;
				color: $primCol;
			}
		}

		img{
			margin-top: 5px;
			height:480px;
		}

		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
}

/*=====  End of management info  ======*/

.UcasScrollSpy{
	.parent-pills{
		&:before{
			top:30px;
			height:calc(100% - 50px);
		}
	}
}