@import 'templates/variables';
@import 'templates/mixins';

body {
	background: grad();
}

/*==============================
=            banner            =
==============================*/

.slider {
	margin-top: -120px;
}

.carousel-inner {
	@include flex(row, null, center);
	height: unset;
	padding-top: 150px;
}

.mainBannerWrapper {
	background: grad();
}

/*=====  End of banner  ======*/

/*===================================
=            single-person-details           =
===================================*/

.single-person-details {
	position: relative;
	background: #eeeeee;

	.description {
		border: 1px solid $primCol;
		border-radius: 15px;
		padding: 30px;

		.title-image {
			&::after {
				content: "";
				width: 100%;
				display: block;
				height: 2px;
				background: $primCol;
				border-radius: 100px;
				margin: 10px 0;
			}
		}

		.primTitle {
			@include head("900");
			color: $primCol;
			font-size: 65px;
			line-height: 1;
			text-transform: uppercase;
		}

		.secTitle {
			@include para();
			color: $secCol;
			font-size: 20px;
		}

		img {
			max-width: 100%;
		}
	}
}

/*=====  End of single-person-details ======*/