.gradBg {
	background: grad();
	min-height: 100vh;
	position: absolute;
	width: 100%;
}

.contactTop {
	@include flex(col);
	color: #ffffff;
	margin-left: 15px;
	position: absolute;
	z-index: 1;

	.phone,
	.mail {
		@include flex(row, null, center);

		.iconWrapper {
			@include flex(row, center, center);
			width: 28px;
			height: 28px;
			background: #ffffff;
			border-radius: 50%;
			margin-right: 10px;

			i {
				font-size: 14px;
				color: $primCol;
			}
		}
	}
}

.contactTop.scrolled,
.followUsTop.scrolled {
	color: $primCol;
	top: 9px;

	.phone,
	.mail {
		.iconWrapper {
			background: $primCol;

			i {
				color: $lpCol;
			}
		}
	}
}

.followUsTop {
	@include flex(col);
	color: #ffffff;
	margin-right: 30px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;

	.icons {
		@include flex(row, null, center);

		.iconWrapper {
			@include flex(row, center, center);
			width: 32px;
			height: 32px;
			border: 1px solid #ffffff;
			border-radius: 50%;
			position: relative;
			transition: 0.3s all;

			&:after {
				content: "";
				display: block;
				width: 32px;
				height: 32px;
				background: #ffffff;
				position: absolute;
				z-index: -1;
				border-radius: 50%;
				transition: 0.3s all;
			}

			i {
				font-size: 16px;
				color: $primCol;
			}

			&:not(:last-child) {
				margin-right: 15px;
			}

			&:hover {
				border: 1px solid #ffffff;
				transform: scale(1.5);

				&:after {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					background: #ffffff;
					position: absolute;
					z-index: -1;
					border-radius: 50%;
				}
			}
		}
	}
}

.followUsTop.scrolled {
	.icons {
		.iconWrapper {
			border: 1px solid $primCol;

			&:after {
				content: "";
				display: block;
				width: 32px;
				height: 32px;
				background: $primCol;
				position: absolute;
				z-index: -1;
				border-radius: 50%;
				transition: 0.3s all;
			}

			i {
				font-size: 16px;
				color: $lpCol;
			}

			&:not(:last-child) {
				margin-right: 15px;
			}

			&:hover {
				border: 1px solid $primCol;
				transform: scale(1.5);

				&:after {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					background: $primCol;
					position: absolute;
					z-index: -1;
					border-radius: 50%;
				}
			}
		}
	}
}

.sticky-top {
	top: 15px;
	padding: 0 15px;
}

.navbar {
	background: $lpCol;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0 5px 10px rgba($primCol, 25%);
}

.navbar-brand {
	@include flex(row, null, center);
	margin-right: unset;
	color: $primCol;
	white-space: unset;

	.logo {
		width: 100%;
		max-width: 70px;
		margin-right: 15px;
	}
}

.navbar-brand:focus,
.navbar-brand:hover {
	color: $primCol;
}

.companyName {
	@include head();
	font-size: 24px;
	line-height: 1;
}

.nav-link {
	color: rgba($primCol, 100%);
}

.navbar {
	.navbar-nav .nav-link.active {
		color: $primCol;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: $primCol;
			border-radius: 2px;
		}
	}

	.nav-link {
		line-height: 1.8;

		&:after {
			margin-top: -2px;
		}
	}

	.nav-link:focus,
	.nav-link:hover {
		color: $primCol;

		&:after {
			content: "";
			display: block;
			width: 100%;
			border-bottom: 2px solid $primCol;
			border-radius: 2px;
		}
	}
}

.dropdown-menu {
	top: 58px;
	background: $lpCol;
	border-radius: 10px;
	border: 0;
	overflow: hidden;
	box-shadow: 0px 5px 10px rgba(darken($primCol, 15%), 75%);
	display: block;
	padding: 0;
	max-height: 0;
	transition: 0.5s all;

	li {
		margin-left: 8px;
		margin-right: 8px;

		&:first-child {
			margin-top: 8px;
		}

		&:last-child {
			margin-bottom: 8px;
		}
	}

	img {
		max-height: 50px;
	}
}

.fp-dropdown {
	li {
		&:not(:last-child) {
			border-bottom: 1px solid rgba($primCol, 25%);
		}

		text-align: center;
	}

	img {
		margin: 5px auto;
		display: block;
	}
}

.dropdown-menu.show {
	max-height: 500px;
}



.dropdown-item {
	border-radius: 5px;
	transition: 0.3s all;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #ffffff;
	background-color: $primCol;
}

.dropBorder {
	color: $primCol;

	&:after {
		content: "";
		display: block;
		width: 100%;
		border-bottom: 2px solid $primCol;
		border-radius: 2px;
	}
}

.contactFollowTop {
	@include flex(row, space-between, center);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	.left {
		@extend .contactTop;
		position: unset;
		flex-direction: row;
		margin-left: 0;
	}

	.right {
		@extend .followUsTop;
		position: unset;
		flex-direction: row;
		margin-right: 0;
	}
}


.navbar-toggler {
	border: unset;
	outline: none;
	padding: unset;
	color: $primCol;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: unset;
}

/**

	responsive

 */

@import "headerResponsive";